<div class="leave-page">

        <div class="card leave-form-card">

          <form #myFormData="ngForm">

            <div class="form-group">
                <label for="leaveType">  نوع الاجازة   </label>
                <select name="leaveType" [(ngModel)]="leaveType" class="form-control" id="leaveType">
                  <option *ngFor="let item of allLeaveTypes.body" value="{{item.id}}">
                      {{item.name}}
                  </option>
                </select>
            </div>

            <div class="form-group">
              <label for="birthday"> من</label>
              <input (change)="dateBettwen(dateFrom,dateTo)" type="date" id="dateFrom" name="dateFrom"   [(ngModel)]="dateFrom" class="form-control" >
            </div>

            <div class="form-group">
              <label for="birthday"> الي  </label>
              <input (change)="dateBettwen(dateFrom,dateTo)" type="date" id="dateTo" name="dateTo"  [(ngModel)]="dateTo" class="form-control" >
            </div>

            
            <div class="form-group">
              <label for="birthday"> الي  </label>
              <textarea id="description" name="description"  [(ngModel)]="description" class="form-control"></textarea>
            </div>

            <p class="date-bettwen mt-3"> عدد الأيام   :   {{dateBettwenValue}}    </p>

            <button (click)="AddLeaveRequest(myFormData)" class="btn btn-primary w-100"> ارسال </button>

          </form>

 
        </div>
 
</div>


<pre>
{{myFormData.value | json}}
</pre>


<!-- 



                <div class="form-inline ltr">                    

                  <div class="form-group hidden">
                    <div class="input-group">
                      <input name="datepicker"
                             class="form-control"
                             ngbDatepicker
                             #datepicker="ngbDatepicker"
                             [autoClose]="'outside'"
                             (dateSelect)="onDateSelection($event)"
                             [displayMonths]="2"
                             [dayTemplate]="t"
                             outsideDays="hidden"
                             [startDate]="fromDate!"
                             tabindex="-1">
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect2 rtl">  من :   </label>
                    <div class="input-group">
                      <input #dpFromDate
                             class="form-control" placeholder="yyyy-mm-dd"
                             name="dpFromDate"
                             [value]="formatter.format(fromDate)"
                             (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"> <i class="fa fa-calendar"></i> </button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group ml-2">
                    <label for="exampleFormControlSelect2 rtl">  الي :     </label>
                    <div class="input-group">
                      <input #dpToDate
                             class="form-control" placeholder="yyyy-mm-dd"
                             name="dpToDate"
                             [value]="formatter.format(toDate)"
                             (input)="toDate = validateInput(toDate, dpToDate.value)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">  <i class="fa fa-calendar"></i>  </button>
                      </div>
                    </div>
                  </div>

                </div>

 -->